<main role="main" class="container-fluid">
    <div class="row vh-100">
        <div class="col-lg-5 sidebar text-center d-flex align-items-center">
            <img src="../../../../assets/imgs/svg/misc/009-hot-air-balloon.svg" class="img-fluid w-65 mx-auto my-3" alt="">
        </div>
        <div class="col-lg-7 bg-light">
            <div class="d-flex flex-column py-3 h-100">
                <router-outlet class="mx-auto my-auto form main"></router-outlet>
                <div class="mx-auto mt-auto py-5">
                    &copy;2021 Amar Ćatović
                </div>
            </div>
        </div>
    </div>
</main>