<form role="form" autocomplete="off" class="form" [formGroup]="form" (ngSubmit)="signUserIn()">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="email" name="email" placeholder="Email" class="form-control"  type="email" formControlName="email">
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="password" name="password" placeholder="Password" class="form-control"  type="password" formControlName="password">
        </div>
    </div>
    <br />
    <a>Forgot password?</a>
    <br />
    <div class="form-group">
        <input name="btnForget" class="btn btn-lg btn-success btn-block" value="Login" type="submit">
    </div>
</form>