<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ 'LAYOUT.NAVBAR.TEMPLATE' | translate }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">{{ 'LAYOUT.NAVBAR.HOME' | translate }}</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'LAYOUT.NAVBAR.MODULES.MODULES' | translate }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/state']" routerLinkActive="router-link-active">{{ 'LAYOUT.NAVBAR.MODULES.STATE_MANAGEMENT' | translate }}</a></li>
                <li><a class="dropdown-item" [routerLink]="['/shared-example']" routerLinkActive="router-link-active">{{ 'LAYOUT.NAVBAR.MODULES.SHARED_EXAMPLE' | translate }}</a></li>
                <li><a class="dropdown-item" [routerLink]="['/search-example']" routerLinkActive="router-link-active">{{ 'LAYOUT.NAVBAR.MODULES.SEARCH_EXAMPLE' | translate }}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item">...</a></li>
            </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'LAYOUT.NAVBAR.LANGUAGES' | translate }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" (click)="changeLanguage(language.abbreviation)"><img [src]="language.iconPath" alt="Flag Icon" width="20px"> {{ language.name | translate }}</a>
                    </li>
                </ul>
                </li>
        </ul>
        <div class="d-flex justify-content-space-around align-items-center">
            <div class="d-flex justify-content-center align-items-center me-4">
                <span>{{ 'LAYOUT.NAVBAR.USER' | translate }}</span>
                <img src="../../../../assets/imgs/svg/avatars/001-boy.svg" alt="User">
            </div>
            <button class="btn btn-outline-danger ml-2" (click)="logOff()">{{ 'LAYOUT.NAVBAR.LOG_OFF' | translate }}</button>
        </div>
        </div>
    </div>
</nav>