<form role="form" autocomplete="off" class="form">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="email" name="email" placeholder="Email" class="form-control"  type="email">
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="password" name="password" placeholder="Password" class="form-control"  type="password">
        </div>
    </div>
    <br />
    <a>Have an account? Login</a>
    <br />
    <div class="form-group">
        <input name="btnForget" class="btn btn-lg btn-success btn-block" value="Register" type="submit">
    </div>
</form>