<form role="form" autocomplete="off" class="form" method="post">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
            <input id="email" name="email" placeholder="Email" class="form-control"  type="email">
        </div>
    </div>
    <br />
    <div class="form-group">
        <input name="btnForget" class="btn btn-lg btn-success btn-block" value="Reset Password" type="submit">
    </div>
</form>